<div class="center hero-unit">
  <h1>Добро пожаловать в Stackoverflow(MLSDev)</h1>

  <h2>
    Это тестовое задания для
    <a href="www.mlsdev.com">MLSDev</a>
    Приложения Stackoverflow
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
