<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Напишите свой вопрос..." %>
  </div>
  <%= f.submit "Отправить", class: "btn btn-large btn-primary" %>
<% end %>