<footer class="footer">
  <small>
    <a href="https://github.com/valeragh">MyGitHub</a>
    Валерий Черна
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/valeragh/stackoverflow_msldev">Stackoverflow(MLSDev) On GitHub</a></li>
    </ul>
  </nav>
</footer>